body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #d85f5f 0%, #748088 50%, #751414 100%);
    width: 100%;
    margin: 0%;
}

.body-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.navbar {
    border: 10px inset #571616;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px 5px 10px 5px;
}

.outer-box {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    width: 350px;
    height: 400px;
    border: 1px solid #9e9b97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset -1px -6px 12px 0.1px #89847e;
    border-radius: 20px;
    background-color: black;
}

.inner-box {
    font-family: 'Orbitron', sans-serif;
    width: 310px;
    height: 360px;
    margin: 20px 0px 0px 20px;
    border: 1px solid #9e9b97;
    border-radius: 20px;
    background-color: rgb(167, 27, 34);
}

.output-box {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    width: 350px;
    height: 400px;
    border: 1px solid #9e9b97;
    box-shadow: 0 4px 8px 0 rgba(238, 29, 29, 0.2), inset -1px -6px 12px 0.1px #89847e;
    border-radius: 20px;
    background-color: rgb(167, 27, 34);
}

.screen {
    height: 60px;
    width: 265px;
    border: 1px solid #7c877f;
    background: #7aa9b8ee;
    margin: 25px 20px 5px 20px;
    border-radius: 6px;
}

.main-screen {
    width: 240px;
    height: 22px;
    padding: 10px 12px;
    font-size: 20px;
    text-align: right;
}

.sub-screen {
    max-width: 310px;
    height: 22px;
    padding: 4px 5px;
    font-size: 15px;
    text-align: right;
}

button {
    padding: 10px 10px;
    width: 60px;
    line-height: 12px;
    margin: 7px 0px 0px 11px;
    border-radius: 40%;
}

button:hover {
    background-color: grey;
}

.btn-zero {
    width: 130px;
}

.btn-number:active {
    background-color: #84e6d2;
}

.btn-operator:active {
    background-color: #e1e953;
}

.btn-clear:active {
    background-color: #7cdb84;
}

.btn-delete:active {
    background-color: rgb(255, 68, 68);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

th {
    border-bottom: 2px solid black;
}

@keyframes row_add {
    from {
        background-color: black;
    }

    to {
        background-color: white;
    }
}

.first_output {
    animation-name: row_add;
    animation-duration: 2s;
}

.output_history:nth-child(odd) {
    background-color: white;
}

.btn-clear-history {
    line-height: 0px;
    padding: 1em;
    margin: 0px 0px 0px 140px;
}

footer {
    margin-top: auto;
    border: 2px solid #9e9b97;
}

.github {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-bottom: -10px;
    margin-left: 2px;
    color: black;
}